.wide_button {
  width: 100%;
  height: 10%;
  text-align: center;
}

.color1 {
	background-color: #ffadad;
}

.color2 {
	background-color: #ffd6a5;
}

.color3 {
	background-color: #fdffb6;
}

.color4 {
	background-color: #caffbf;
}